<br>
<br>
<div class="new-item">
  <%= render partial: 'items/form', locals: {user: current_user, item: Item.new}  %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>My current todos</th>
    </tr>
  </thead>
  <tbody class="items">
    
      <%= render current_user.items %>
   
  </tbody>
</table>
<p><%= link_to 'Edit profile', edit_user_registration_path %></p>
<p><%= link_to 'Home page', welcome_index_path %></p>
